<div>
    <h3>Retirement Income Goal</h3>
    <label>Monthly</label>
    <input type="text" value ="{{vm.monthly}}"/>
    <p>or</p>
    <label>Annually</label>
    <input type="text" value="{{vm.annually}}"/>
    <br/>

    <h3>Retirement</h3>
    <label>Begins at age</label>
    <input type="text" value="{{vm.retirementBeginAge}}" />
    <label>Ends at age</label>
    <input type="text" value="{{vm.retirementEndAge}}" />
    <p>You can further alter the results of your projection by including additional assets and other sources of income as entered within a My Retirement Analysis. Click below to get started.</p>
</div>